<!DOCTYPE html>
<html>
<head>

  <meta charset='utf-8' />
  <title>R E M B R</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <!-- Script Links -->
  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.js'></script>
  <script src='../js/script.js'></script>
  <script src='js/models/perspective.js'></script>

  <!-- Stylesheets -->
  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.css' rel='stylesheet' />
  <style>
  h1{text-align: center;}
  body { margin:0; padding:0; }
  #map { position:absolute; top:49px; bottom:0px; width:100%; height:auto; margin: 10px;}
  </style>
</head>


<body>
  <div class = "users"></div>
  <div id="perspectives"></div>
  <div id='map'></div>
  <script>

    L.mapbox.accessToken = 'pk.eyJ1IjoibGV3aXMyYmEiLCJhIjoiY2loczEwYjE5MDBqdXRsbTFmNzR6Mm1rbyJ9.ypWiA8TKk_5Ar5Pp9Sq8fQ';
    var map = L.mapbox.map('map', 'mapbox.light')
    .setView([38.91338, -77.03236], 12);

  </script>
</body>
</html>
