<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
    <meta charset='utf-8' />
    <title></title>

<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
=======
  <meta charset='utf-8' />
  <title>R E M B R</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <!-- Script Links -->
>>>>>>> 1a9c11276a2c42526212900003ba521bf5b005d3
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.js'></script>
    <script src="./public/js/models/perspective.js"></script>
    <script src='../config/env.js'></script>
<<<<<<< HEAD
    <script src='../js/script.js'></script>

    <style>
        h1{text-align: center;}
        body { margin:0; padding:0; }
        #map { position:absolute; top:50px; bottom:0px; width:100%; height:auto; margin: 10px;}
=======

  <!-- Stylesheets -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      h1{text-align: center;}
      body { margin:0; padding:0; }
      #map { position:absolute; top:49px; bottom:0px; width:100%; height:auto; margin: 10px;}
>>>>>>> 1a9c11276a2c42526212900003ba521bf5b005d3
    </style>
</head>


<body>

<<<<<<< HEAD
<div id='map'></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoibGV3aXMyYmEiLCJhIjoiY2loczEwYjE5MDBqdXRsbTFmNzR6Mm1rbyJ9.ypWiA8TKk_5Ar5Pp9Sq8fQ';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([38.91338, -77.03236], 13);

L.mapbox.featureLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [
          -77.03221142292,
          38.913371603574
        ]
    },
    properties: {
        title: 'Peregrine Espresso',
        description: '1718 14th St NW, Washington, DC',
        // one can customize markers by adding simplestyle properties
        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'cafe'
    }
}).addTo(map);


</script>

=======
  <div id='map'></div>
  <script>

  mapboxgl.accessToken = 'pk.eyJ1IjoibGV3aXMyYmEiLCJhIjoiY2loczEwYjE5MDBqdXRsbTFmNzR6Mm1rbyJ9.ypWiA8TKk_5Ar5Pp9Sq8fQ'

  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/lewis2ba/cihw3ndid00gx9nkpcj4efmjk', //stylesheet location
    center: [-77.0164, 38.9047], // starting position
    zoom: 13, // starting zoom

    // {{api_key}}
  });
  </script>
>>>>>>> 1a9c11276a2c42526212900003ba521bf5b005d3
</body>
</html>
