<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
  </head>
  <body>
    <header>
<<<<<<< HEAD
=======

>>>>>>> 7f5cce8702700c759ad87bd476b77974888fc453
      <h1><a href="/perspectives">Rem.br</a></h1>
    </header>
    {{{body}}}
  </body>
</html>
