<!doctype html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
  </head>
  <body>
    <header>
      <h1><a href="/memories">Rem.br</a></h1>
    </header>
    {{{body}}}
  </body>
</html>
