<!doctype html>
<html>
<head>
  <!-- Script links -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
</head>

<body>
  <header>
    <!-- nav bar begin -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">R E M B R</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- search bar (tobe implemented later) -->
          <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <!-- end of search -->
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
        <li><a href="/logout">l o g  o u t {{currentUser.local.email}}</a></li>
        {{else}}



        <li><a href="" data-toggle="modal data-target =".bannerformmodal>l o g  i n</a>


          <div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-content">
                          <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel"> S I G N  U P</h4>
                          </div>
                          <div class="modal-body">
                          <!-- <div class="col-sm-3 col-md-3"></div> -->

                            {{#if message.length}}
                            <div class="alert alert-danger">{{message}}</div>
                            {{/if}}

                            <form method="post" action="/signup">
                              <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" type="text" name="email" id="email">
                              </div>

                              <div class="form-group">
                                <label for="email">Password</label>
                                <input class="form-control" type="password" name="password" id="password">
                              </div>

                              <input class="btn btn-default" type="submit">

                            </form>
                          <!-- <div class="col-sm-3 col-md-3"></div> -->

                            </div>
                  </div>
                  </div>
                </div>
              </div>
        </li>



        <li><a href="/signup">s i g n  u p</a></li>



        <li role="separator" class="divider"></li>
        {{/if}}


        <li><a href="" data-toggle="modal" data-target=".bannerformmodal">a b o u t</a>

          <div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">R E M B R</h4>
                  </div>
                  <div class="modal-body">


                        rembr is a social platform that allows users to document their perscpective at a certain place and time


                  </div>

                </div>
              </div>
            </div>
          </div>

        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- nav bar end -->
<!-- <h1><a href="/">R E M B R</a></h1> -->
</header>
{{{body}}}
</body>
</html>
