#set-brand-color:hover{
    color: #FFA500
  }

#link-color:hover{
    color: #FFA500
  }

#field_show_none {
  display: none;
}

.set-perspective-form {
  min-width: 200px;
}
textarea {
   overflow: auto;
}
#perspective-input {
  overflow: auto;
  margin-bottom: inherit;
}
